* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e3a8a, #9333ea);
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 10px 0;
  font-size: 1.2rem;
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #ddd;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  text-align: center;
}

/* SKILLS */
.skill-box span {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: #1e293b;
  border-radius: 20px;
}

/* PROJECTS */
.projects {
  background: #020617;
}

.card {
  background: #1e293b;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* CONTACT */
.contact p {
  margin: 10px 0;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
